<div class="row mt-3">
  <div class="col-md-6 text-start">
    <h3>Posts Lists</h3>
  </div>
  <div class="col-md-6 text-end">
    <button class="btn btn-outline-primary" [routerLink]="['add']">Add Post</button>
  </div>
  <table class="table table-hover table-striped align-middle" *ngIf="posts$ | async as posts">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td>{{post.description}}</td>
        <td>
          <a class="btn btn-outline-primary btn-sm me-1" [routerLink]="['edit', post.id]">Edit</a>
          <button class="btn btn-sm btn-outline-danger ms-1" (click)="onDelete(post.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <router-outlet></router-outlet>
</div>