<div class="row mt-3">
  <div class="col-md-6 text-start">
    <h3>Posts Lists</h3>
  </div>
  <div class="col-md-6 text-end">
    <button class="btn btn-outline-primary" [routerLink]="['add']">Add Post</button>
  </div>
  <table class="table table-hover table-striped align-middle text-start" *ngIf="posts$ | async as posts">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts; index as i">
        <td>{{i+1}}</td>
        <td>
          <p [ngbTooltip]="post.title" placement="start">{{post.title | slice:0:10}}...</p>
        </td>
        <td>
          <p [ngbTooltip]="post.body" placement="start">{{post.body | slice:0:15}}...</p>
        </td>
        <td>
          <a class="btn btn-outline-primary btn-sm me-1" [routerLink]="['edit', post._id]">Edit</a>
          <button class="btn btn-sm btn-outline-danger ms-1" (click)="onDelete(post._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <router-outlet></router-outlet>
</div>